body {
  background-image: linear-gradient(
    to bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );

  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

/* <--------- Navbar  ---------> */

/* Membuat bg navbar */
nav {
  top: 0;
  left: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid white;
  z-index: 2;
}

/* Mengatur Nama Brand di dalam navbar */
.brand {
  float: left;
  height: 40px;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 20px;
  color: wheat;
  border-radius: 10px;
  box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.9);
}

/* Mengatur tata letak menu ke kanan */
nav ul {
  margin: 0;
  padding: 0;
  margin-right: 2%;
  float: right;
  list-style: none;
  display: flex;
}

/* Mengatur style huruf yang akan di gunakan untuk menu */
nav ul li a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  line-height: 80px;
  text-decoration: none;
  padding: 12px 30px;
}

/* Membuat Navbar menjadi lebih interaktif */
nav ul li a:hover {
  border-radius: 10px;
  background: rgba(255, 253, 253, 0.8);
  color: black;
  transition: all 0.3s ease-in-out;
}

/* Membuat dropdown */
nav ul li .dropdown {
  display: none;
}

#d1 {
  margin-right: 70px;
  text-align: center;
}

#d2 {
  margin-right: 80px;
  margin-top: 54pt;
  text-align: center;
}

#d3 {
  margin-right: 80px;
  margin-top: 108pt;
  text-align: center;
}

nav ul li:hover .dropdown {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px;
  width: 150px;
  height: 70px;
  margin-right: 20px;
  position: absolute;
  transform: translate(-87%);
  border-bottom: solid 2px rgb(226, 226, 226);
}

/* Slide Bar */
/* Mengatur bentuk card */
.card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.9);
  right: 20pt;
}

/*Mengatur back-card slide */
.slide-container {
  max-width: 1040px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  top: 80pt;
}
.slide-content {
  margin: 0 40px;
  width: 320px;
}

/* Mengatur nama dan description card */
.name1,
.name2,
.name3,
.name4,
.name5,
.name6,
.name7,
.name8,
.name9 {
  font-size: 30px;
  font-weight: 500;
  padding: 7px;
}
.name1 {
  color: #8d0018;
}
.name2 {
  color: orange;
}
.name3 {
  color: purple;
}
.name4 {
  color: rgb(173, 3, 3);
}

.name5 {
  color: rgba(184, 184, 14, 0.911);
}
.name6 {
  color: brown;
}
.name7 {
  color: rgb(89, 0, 97);
}
.name8 {
  color: rgb(163, 163, 9);
}
.name9 {
  color: rgb(77, 155, 5);
}

.description {
  font-size: 20px;
  color: #361515;
  text-align: center;
  padding: 7px;
}

/* Mengatur tata letak gambar slide card */
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

/* Mengatur tata letak image sebagai konten  */
.image-content {
  position: relative;
  row-gap: 5px;
}

/* Mengatur warna dan posisi logo img di slide card */
.overlay1,
.overlay2,
.overlay3,
.overlay4,
.overlay5,
.overlay6,
.overlay7,
.overlay8,
.overlay9 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlay1 {
  background-color: red;
}
.overlay2 {
  background-color: orange;
}
.overlay3 {
  background-color: purple;
}
.overlay4 {
  background-color: rgb(173, 3, 3);
}
.overlay5 {
  background-color: rgba(184, 184, 14, 0.911);
}
.overlay6 {
  background-color: brown;
}
.overlay7 {
  background-color: rgb(89, 0, 97);
}
.overlay8 {
  background-color: rgb(163, 163, 9);
}
.overlay9 {
  background-color: rgb(77, 155, 5);
}

/* Mengatur posisi img di card slider */
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid rgb(238, 238, 238);
}

/* Mengatur border dalam warna pada img */
.card-img1,
.card-img2,
.card-img3,
.card-img4,
.card-img5,
.card-img6,
.card-img7,
.card-img8,
.card-img9 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  background: white;
}

/* Mengatur button slide card */
.button1,
.button2,
.button3,
.button4,
.button5,
.button6,
.button7,
.button8,
.button9 {
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: wheat;
  padding: 6px 12px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button1 {
  background-color: #c72b32;
}
.button2 {
  background-color: #c7962b;
}
.button3 {
  background-color: #892bc7;
}
.button4 {
  background-color: #c72b32;
}
.button5 {
  background-color: rgba(184, 184, 14, 0.911);
}
.button6 {
  background-color: #c72b32;
}
.button7 {
  background-color: #892bc7;
}
.button8 {
  background-color: rgb(163, 163, 9);
}
.button9 {
  background-color: #71c72b;
}

/* Mengatur hover pada button slide card */

.button1:hover {
  background: #cd0510;
}

.button2:hover {
  background: orange;
}

.button3:hover {
  background: purple;
}

.button4:hover {
  background: rgb(173, 3, 3);
}

.button5:hover {
  background: rgb(156, 156, 7);
}

.button6:hover {
  background: brown;
}

.button7:hover {
  background: rgb(89, 0, 97);
}

.button8:hover {
  background: rgb(138, 138, 6);
}

.button9:hover {
  background: rgb(77, 155, 5);
}

/* The Modal - benefit*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal7 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal8 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal9 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close6 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close7 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close8 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close9 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close5:hover,
.close5:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close6:hover,
.close6:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close7:hover,
.close7:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close8:hover,
.close8:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close9:hover,
.close9:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Kalimat teks pada modal */
.t-modal {
  text-align: center;
}

/* Gambar pada modal */
.img-modal {
  width: 10%;
  display: block;
  margin-left: 483px;
  margin-top: 20px;

  border-radius: 20px;
  width: 33, 3333%;
  box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.9);
}
