/* Mengatur bakcground webiste */
body {
  background-image: linear-gradient(
    to bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );

  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

/* <--------- Navbar  ---------> */

/* Membuat bg navbar */
nav {
  top: 0;
  left: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid white;
  z-index: 1;
}

/* Mengatur Nama Brand di dalam navbar */
.brand {
  float: left;
  height: 40px;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 20px;
  color: wheat;
  border-radius: 10px;
  box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.9);
}

#bnft {
  border: solid 2px white;
}

/* Mengatur tata letak menu ke kanan */
nav ul {
  margin: 0;
  padding: 0;
  margin-right: 2%;
  float: right;
  list-style: none;
  display: flex;
}

/* Mengatur style huruf yang akan di gunakan untuk menu */
nav ul li a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  line-height: 80px;
  text-decoration: none;
  padding: 12px 30px;
}

/* Membuat Navbar menjadi lebih interaktif */
nav ul li a:hover {
  border-radius: 10px;
  background: rgba(255, 253, 253, 0.8);
  color: black;
  transition: all 0.3s ease-in-out;
}

/* Membuat dropdown */
nav ul li .dropdown {
  display: none;
}

#d1 {
  margin-right: 70px;
  text-align: center;
}

#d2 {
  margin-right: 80px;
  margin-top: 54pt;
  text-align: center;
}

#d3 {
  margin-right: 80px;
  margin-top: 108pt;
  text-align: center;
}

nav ul li:hover .dropdown {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px;
  width: 150px;
  height: 70px;
  margin-right: 20px;
  position: absolute;
  transform: translate(-87%);
  border-bottom: solid 2px rgb(226, 226, 226);
}

/* Healthy */
/* Tab */
.tabs {
  max-width: 600px;
  margin-top: 100pt;
  margin-left: 60vh;
}

.tab-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-link {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.tab-link.active {
  background-color: #333;
  color: #fff;
}

.tab-contents {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: antiquewhite;
  border-radius: 5px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content h2 {
  margin-top: 0;
  text-align: center;
}

.tab-content p {
  margin-bottom: 0;
  line-height: 1.5;
}

/* Optional: Add hover effect to tab links */
.tab-link:hover {
  background-color: #ccc;
  color: #fff;
}
